body{
    margin: 0%;
    font-family: 'Lato', sans-serif;
}
.container-fluid {
    padding-bottom: 52px;
}

.section1 {
    width: 100%;
    background-image: url(img/topbackground.jpg);
    background-size: cover;
    padding-bottom: 8px;
}
.logo {
    width: 212px;
    height: 166px;
    background-image: url(img/logonew.png);
    background-size: cover;
    float: none;
    margin-left: -10px;
}
.phone {
    float: right;
    margin-right: 59px;
    padding-top: 12px;
    font-size: 20px;
    color: white;
    margin-top: 9px;
    font-family:'Courier New', Courier, monospace
}
.topright {
    
    display: inline-block;
}

h2.texttopright {
    float: left;
    font-size: 44px;
    font-weight: 700;
    
    padding-top: 79px;
    color: white;
    text-align: right;
    margin-right: 39px;
}

.fromdiv {
    background-color: white;
    /* border: 1px solid black; */
    /* width: fit-content; */
    
    padding: 16px;
    padding-left: 26px;
    padding-bottom: 10px;
    border-radius: 13px;
    float: right;
    margin-right: 41px;
    margin-bottom: 12px;
    margin-top: 6px;
}

.inputform {
    border-top: 0px;
    border-right: 0px;
    border-left: 0;
    border-bottom: 1px solid rgba(45, 44, 44, 0.463);
    margin-left: 1px;
    padding-bottom: 8px;
    margin-bottom: 4px;
    font-size: 11px;
    width: 202px;
}
.buttonstart {
    background-color: #ff8c00;
    color: white;
    margin-bottom: 7px;
    margin-top: 16px;
    border-radius: 15px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ff8c00;
}
form {
    display: inline-grid;
}


.section2heading {
    text-align: center;
    /* margin-top: 17px; */
    padding-top: 35px;
}
.section2heading2 {
    text-align: center;
    color: #ff8c00;
    padding-bottom: 33px;
}


.cardtitle{
    color:#ff8c00 ;
    text-align: center;
}
p.card-text {
    text-align: center;
    font-size: 12px;
}
.card {
    height: 253px;
    margin-left: 43px;
    /* padding-left: 15px; */
    /* padding: 2px; */
    width: 15rem;
    border: 1px solid black;
    border-radius: 14px;
    border-top: none;
    box-shadow: 0 1px 1px 0 black, 0 5px 4px 0 rgb(0 0 0 / 19%);
    margin-bottom: 31px;
}
img.card-img-top {
    /* width: 100px; */
    height: 80px;
    width: 80px;
    /* border: 1px solid; */
    border-radius: 131px;
    object-fit: cover;
    margin: auto;
    margin-top: 21px;
    
}
.sectionthreeright {
    background-color: #ff8c00;
    padding-top: 64px;
    padding-bottom: 40px;
    border-radius: 28px 0px 0px 28px;
    position: inherit;
}
.vedio {
    height: 283px;
    min-width: 350px;
    border: 1px solid black;
    position: absolute;
    /* margin: auto; */
    margin-left: 47px;
    margin-top: 21px;
    background-color: red;
        min-width: 207px;

}
.thiredpara {
    color: white;
    font-size: 13px;
    text-align: start;
    margin-left: 173px;
}
.thirdheading {
    color: white;
    text-align: inherit;
    margin-left: 169px;
    font-size: 36px;
    font-weight: 700;
}
.thirdparadiv {
    padding-right: 59px;
}


.testimonytext {
    text-align: center;
    font-size: 38px;
    font-weight: 900;
}
.customertext {
    color: #ff8c00;
    text-align: center;
    font-weight: 600;
    font-size: 37px;
    margin-top: -12px;
}
.textimonyslide {
    margin: auto;
    /* height: 50px; */
    padding-bottom: 7px;
    padding-top: 70px;
}
.p.textmonypara {
    text-align: center !important;
    font-size: 14px;
    margin-top: 11px;
    font-weight: 400;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* margin: auto; */
    text-align: center;
}
h5.shara {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}
i.fa.fa-angle-left {
    font-size: 55px;
    color: #ff8c00;
}
i.fa.fa-angle-right {
    font-size: 55px;
    color: #ff8c00;
}
.footer {
    background-image: url(img/footerimage.jpg);
    background-size: cover;
}

.footertext{
    text-align: center;
    color: white;
}
.footerdiv {
    margin-top: 120px;
    padding-top: 44px;
}
button.footerbutton {
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 11px;
    padding: 5px;
    padding-left: 26px;
    padding-right: 25px;
    background-color: #ff8c00;
    font-weight: 600;
    color: white;
    /* margin-left: 53px; */
    text-align: center;
    margin-top: 33px;
    margin-left: 439px;
}

.greendiv {
    padding: 5px;
    display: flex;
    position: relative;
    background-color: aqua;
    height: 283px;
    padding-left: 108px;
}

.catagerydiv{
    width:500px;
    height:200px;
    background-color: yellow;
}
.courses-container{
    position: relative;

}
.courses-container .greenbg {
    background-color:#c0d9ae;
    height: 286px;
    margin-left: -12px;
    border-radius: 21px;
    /* max-width: 39%; */
    border-radius: 0px 28px 28px 0px;
    width: 491px;
}
h1.coursetext {
    font-size: 40px;
    margin-left: 164px;
    padding-top: 18px;
    font-weight: 700;
}
.courses-container .slider-wrapper {
    position: absolute;
    right: 54px;
    width: 100%;
    top: 44%;
    transform: translateY(-50%);
}
.courses-container .slider-wrapper .slider {
    max-width: 78%;
    overflow: auto;
    gap: 32px;
    align-self: end;
    flex-direction: row;
    scroll-behavior: smooth;
}
.courses-container .slider-wrapper .slider .slider-card {
    width: 300px;
    height: 100px;
    background-color:white;
    min-width: 300px;
}


.buttonsscroll {
   
    width: 106px;
    height: 65px;
    position: absolute;
    margin-top: 204px;
    margin-left: 163px;
    display: flex;
    padding-left: 3px;
    gap: 14px;
}
.left {
    background-color: white;
    border: 1px solid;
    width: 25%;
    height: 41%;
    border-radius: 69px;
}
.right{
  background-color:#3f8a04;
  border: 1px solid;
    width: 25%;
    height: 41%;
    border-radius: 69px;
}
iframe {
    border: 0;
    height: 281px;
}


i#angleright {
    color: white;
    font-size: 21px;
}
i#angleleft {
    color: green;
    font-size: 21px;
}
.cardimage {
    background-image: url(img/sectionnew.png);
    height: 100%;
    background-size: cover;
    width: 69px;
    float: left;
}
h3.cardtext {
    text-align: center;
    font-size: 14px;
    /* position: absolute; */
    font-size: 18px;
    margin-top: 31px;
    font-weight: 600;
}



@media only screen and (max-width: 600px) {
    .container-fluid {
        padding-bottom: 30px;
    }
    .section1{
        width:100%;
        
        background-image: url(img/topbackground.jpg);
        background-size: cover;
        
    }
    .topright {
    
        width: fit-content;
    }
    h2.texttopright {
        float: left;
        font-size: 44px;
        font-weight: 700;
        
        padding-top: 16px;
        color: white;
        text-align: inherit;
    }
    i.fa.fa-phone {
        padding-right: 9px;
       
        font-size: 18px;
        font-weight: 600;
    }
    
    input[type="text"] {
        border-top: 0px;
        border-right: 0px;
        border-left: 0;
        border-bottom: 1px solid rgba(45, 44, 44, 0.463);
        margin-left: -5px;
    }
    .inputform {
        width:auto;
    }

    .card {
        height: 290px;
        margin-left: 0px; 
        /* padding-left: 15px; */
        /* padding: 2px; */
        margin-top: 18px;
        width: 100%;
    }
    .thiredpara {
        color: white;
        font-size: 13px;
        /* text-align: start; */
         margin-left: 0px;
        position: relative;
    }
    .thirdheading {
        color: white;
        text-align: inherit;
        margin-left: 0px;
        font-size: 36px;
        font-weight: 700;
        position: relative;
    }
    .sectionthreeright {
       
        border-radius: 0px 0px 0px 0px;
    }
    .vedio {
        height: 225px;
        border: 1px solid black;
        position: absolute;
        margin-left: 0px;
        /* min-width: 133px; */
        max-width: 100px;
        width: 100px;
    }
  h2.thirdheading {
    margin-top: 189px;
    text-align: center;
}
.thirdparadiv {
    padding-right: 0px; 
}
.textimonyslide{
    width:auto;
}
.textimonyslide {

    margin: auto;
    /* height: 50px; */
    
    padding-bottom: 41px;
    padding-top: 47px;
}
i.fa.fa-angle-left {
    font-size: 44px;
    color: #ff8c00;
    opacity: 0.3;
}
i.fa.fa-angle-right {
    font-size: 44px;
    color: #ff8c00;
    opacity: 0.3;
}
.footertext {
    text-align: center;
    color: white;
    font-size: 13px;
    margin-top: -75px;
    padding-bottom: 26px;
}
button.footerbutton {
    border: 1px solid transparent;
    background-color: antiquewhite;
    border-radius: 20px;
    font-size: 11px;
    padding: 5px;
    padding-left: 26px;
    padding-right: 25px;
    background-color: #ff8c00;
    font-weight: 600;
    color: white;
    margin-left: 53px;
}
.greendiv {
    padding: 5px;
    display: flex;
    position: relative;
    
    height: 283px;
    padding-left:0px
}
.courses-container{

}

.courses-container .slider-wrapper {
    position: relative;
    right: unset;
    width: 100%;
    top:unset;
    transform: unset;
    
    
}

.courses-container .slider-wrapper .slider {
    
    flex-direction: column;
    padding: 10px;
    width: 100%;
    overflow: unset;
}

.buttonsscroll {
    
    display: none;
}
.courses-container .greenbg {
    
    height: 99px;
    margin-left: -12px;
    /* border: 1px solid; */
    border-radius: 21px;
    max-width: 100%;
    border-radius: 0px 28px 28px 0px;
}
.courses-container .slider-wrapper .slider .slider-card {
    width: auto;
    height: 100px;
    
    min-width: unset;
    margin-left: -57px;
}
iframe {
    border: 0;
    width: 100%;
    height: inherit;
}
h1.coursetext {
    font-size: 28px;
    margin-left: 43px;
    padding-top: 44px;
    font-weight: 700;
}



}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(164 164 164 / 30%);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(164 164 164 / 30%);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgb(112 112 112 / 50%);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}